
.attraction .attractionTextField {
  width: 100% !important;
}
.attraction .MuiAutocomplete-root {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
.attraction .btn {
  background: #e88b71 !important;
}
.attraction .MuiSlider-root {
  color: #e88b71 !important;
}
.attraction .attractionSearchButton {
  display: flex;
}

.attractionPictures {
  height: 350px !important;
  overflow-y: auto;
  overflow-x: hidden;
}
.attractionPictures::-webkit-scrollbar {
  width: 6px;
  border-radius: 30px;
}

.attractionPictures::-webkit-scrollbar-track {
  border-radius: 30px;
  background: whitesmoke;
}

.attractionPictures::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #1e1e1edc;
}

.attractionTextField {
  margin-right: 10px;
}

.attractionCategory {
  margin-left: 10px;
}

.attractionSearchButton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  background: #e88b71;
  border: 2px solid #e88b71;
  height: 43px;
  border-radius: 10px;
  cursor: pointer;
  color: #f1f1f1;
  font-size: 24px;
  margin-top: 20px;
}

.disabledButton {
  cursor: not-allowed;
  pointer-events: none;
}

@media screen and (max-width: 770px) {
  .attractionCategory {
    margin-left: 0px;
    margin-top: 10px;
  }
}
