.bookingMain {
  display: flex;
  width: 100%;
  flex-direction: column;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  gap: 10px;
  color: white;
}

.bookingBigMain {
  background-color: #e88b71;
}

.seeMoreIcon {
  color: #e88b71;
  font-size: 20px;
  cursor: pointer;
}

.bookingFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.bookSmallFlex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bookIcon {
  font-size: 30px;
}

.bookBtn {
  height: 50px;
  cursor: pointer;
  background-color: #4d4dff;
  border: 2px solid #4d4dff;
  color: #f1f1f1;
  font-size: 20px;
  width: 100%;
}

.singlePlaceLinksGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.singlePlaceLinksFlexBox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.singlePlaceLinksFlexBox p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.searchInputPlace {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 0px 10px;
  border: none;
  border-radius: 5px;
}

.singlePlaceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.fmailyBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0px;
}

.singleElementFamily {
  display: flex;
  justify-content: space-around;
}

.familyControlBox {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  color: #e88b71;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

.minus,
.plus {
  font-size: 20px;
  cursor: pointer;
}

.seeMoreBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  background: #e88b71;
  border: 2px solid #e88b71;
  height: 43px;
  border-radius: 10px;
  cursor: pointer;
  color: #f1f1f1;
  font-size: 24px;
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .bookIcon {
    font-size: 20px;
  }
  .bookingMain p {
    font-size: 13px;
  }
}
@media screen and (max-width: 1100px) {
  .singlePlaceLinksGrid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .bookSmallFlex {
    gap: 6px;
  }
}
