@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Roboto:wght@300;400&family=Tilt+Neon&display=swap");

body {
  min-width: 100% !important;
  max-width: 100% !important;
  font-family: "Tilt Neon", sans-serif;
}
.Toastify__toast-body > div:last-child {
  font-family: "Tilt Neon", sans-serif !important;
}
.layout {
  box-sizing: border-box !important;
  padding: 0 10px !important;
  margin: 0 auto !important;
}
.TabsHead {
  padding-right: 28px !important;
  padding-left: 130px;
}
.mapHead {
  padding: 0 28px !important;
}

button.MuiTab-root:nth-child(1) {
  color: rgb(232, 139, 113) !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #e88b71 !important;
}

@media screen and (min-width: 1500px) {
  .layout {
    width: 1440px !important;
    position: relative !important;
    padding: 0 10px !important;
  }
  .TabsHead {
    padding-right: 20px !important;
    padding-left: 116px !important;
  }
  .mapHead {
    padding: 0 20px !important;
  }
}
@media screen and (max-width: 1400px) {
  .TabsHead {
    padding-right: 15px !important;
    padding-left: 100px !important;
  }
  .mapHead {
    padding: 0 15px !important;
  }
}
@media screen and (max-width: 1200px) {
  .TabsHead {
    padding-right: 10px !important;
    padding-left: 105px !important;
  }
  .mapHead {
    padding: 0 10px !important;
  }
}
@media screen and (max-width: 768px) {
  .TabsHead {
    padding: 0 !important;
    margin-bottom: 30px !important;
  }
  .mapHead {
    padding: 0 !important;
  }
}
