.tabsContainer .tabButtons {
  padding-bottom: 10px;
  background: #f1f1f1f1;
  box-shadow: 0px 8px 19px rgba(169, 169, 169, 0.11);
  max-width: 455px;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -18px;
}

.tabsContainer {
  margin-left: 55%;
  transform: translateX(-50%);
  position: relative !important;
  margin-bottom: 30px;
}

.tabs {
  min-height: 0 !important;
}

.logo {
  position: absolute;
  right: -46%;
  top: -3px;
  height: 80px;
  width: 118px;
}

/* .css-1aquho2-MuiTabs-indicator {
  background-color: #e88b71 !important;
} */

@media screen and (max-width: 700px) {
  .tabsContainer {
    width: 80% !important;
    border-radius: 0px 0px 50px 50px !important;
  }
}
