.pictureGrid img {
  width: 100%;
}

.gridPlaceImg {
  height: 110.25px !important;
  border-radius: 5px;
}

.gridPlaceImg {
  width: 100% !important;
  object-fit: cover !important;
}

.photosErr {
  color: rgb(178, 34, 34);
  font-size: 20px;
  font-weight: bold;
}
