.cattegory {
  display: flex !important;
  gap: 10px !important;
  width: 100%;
  flex-direction: row !important;
}

.background-category {
  height: 100%;
  display: flex;
  width: 100%;
  gap: 30px;
  margin-top: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 50px;
}

.cattegory #boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background-color: #ffffff;
  width: 98px;
  border-radius: 8px;
  border: 1px solid #f3f3f3;
  padding: 15px 16px;
}

.cattegory #boxes span {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #e88b71;
}

.activeBox {
  border: 1px solid #e88b71 !important;
}

.colorNonActive {
  filter: invert(56%) sepia(86%) saturate(308%) hue-rotate(324deg)
    brightness(97%) contrast(87%);
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
  .cattegory {
    width: 100% !important;
    height: unset !important;
    top: unset !important;
    bottom: -10px !important;
    padding: 15px 0 !important;
    border-radius: 20px 20px 0 0 !important;
  }
  .background-category {
    flex-direction: row !important;
    height: unset !important;
    margin-left: 0px;
  }
}
