@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&family=Noto+Sans:wght@400;500&family=Poppins&family=Roboto:wght@500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
html{
  font-family: 'Roboto', sans-serif;

}

.roboto{
  font-family: 'Roboto', sans-serif;
} 


.Toastify__toast-body > div:last-child{
  font-family: 'Roboto', sans-serif;
}